{{> head }}


     {{!-- importante el > pegado al bigote y leugo espacio --}}
     {{> navbar }}
    

      <div class="row">
        <div class="col-8">
            <h1>ABOUT</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/PRESENTACION.png" class="img-thumbnail>
        </div>
      </div>

      {{> footer }}
